
@{
    ViewData["Title"] = "Index";
}
@section Styles{
    <link href="~/lib/jquery-easyui/themes/material-blue/easyui.css" rel="stylesheet" />
    <link href="~/lib/jquery-easyui/themes/icon.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/lib/jquery-easyui/jquery.easyui.min.js"></script>
    <script src="~/app/controllers/product-category/index.js"></script>
    <script>
        var productCategory = new productCategoryController();
        productCategory.initialize();
    </script>
}
<div class="bs-example widget-shadow" data-example-id="contextual-table">
    <div class="page-title">
        <div class="title_left">
            <h3>Products Categories</h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right">
                <button class="btn btn-success" id="btnCreate" type="button">Create</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x-panel">
                <div class="x-content">
                    <ul id="treeProductCategory"></ul>
                </div>
            </div>
        </div>
    </div>

</div>

